@model IEnumerable<WebApplication6.Models.UserMetric>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TotalBlogPosts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalUpvotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalDownvotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TotalBlogPosts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalUpvotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDownvotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalComments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserMetricID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserMetricID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserMetricID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
